<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
 <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.css">
</head>


 <header class="header">
  <h1 class="site-title">Coffee World</h1>
  <p class="site-description">Let's Share your coffee life</p>
  <div class="buttons">
    <a class="button" href="#about">検索</a>
    <a class="button" href="#about">Home</a>
    <a class="button" href="#about">Friend</a>
    <a class="button" href="#about">Message</a>
    <a class="button" href="#about">Profile</a>
    <a class="button button-orange" href="#contact">Share to SNS</a>
  </div>
  </header>


  <section class="about" id="about">
    <h2 class="heading">The Latest News </h2>
  <p class="about-text">
    ・生産国情報
    ・輸出入情報
    ・消費国情報
    </p>
  </section>


  <section class="works">
  <h2 class="heading">Let's Share</h2>
   <% if user_signed_in? %>
     <div class="buttons">
      <form class="post-form">
      <%= link_to '投稿一覧へ', '/', class:'sample' %>
      <a class="button" href="#about">投稿する</a>
      <input type=”text＂ name="name", placeholder="NAME">
      <textarea name="message" placeholder="MESSAGE"></textarea>
      <input type="submit" value="SEND">
    </form>
     <a class="button" href="#about">画像</a>
     <a class="button" href="#about">動画</a>
    </div>
  <% else %>
　　　<div class="grid-6">
      <%= link_to "ログイン", new_user_session_path, class: 'post' %>
      <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
    </div>
  <% end %>
  </section>

<section class="works_2">
  <h2 class="heading">最新の投稿</h2>
  <div class="buttons">
  <a class="button" href="#about">ジャンルを選ぶ</a>
  </div>
</section>

  <section class="contact" id="contact">
 <h2 class="heading">Profile</h2>
  <a class="button" href="#about">友達になる</a>
  <a class="button" href="#about">コミュニティを探す</a>
  </section>
<body>
</body>
</html>
