// Place all the styles related to the coffee_sns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
    box-sizing: border-box;
}

body {
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    background: url(coffee.png) fixed;
    background-size: cover;
}

.header {
  padding: 10px 30px 80px;
  height: 10vh;
  background-color: rgba(0, 50, 0, 0.5);
}

.site-title {
    margin: 5px;
    font-size: 4rem;
}

.site-description {
    margin-bottom: 5px;

}


.name {
  font-size: 2rem;
  margin: 10px auto;
  width: 50%;
  color: #000000;/*文字色*/
  padding: 0.5em;/*文字周りの余白*/
  line-height: 1.3;/*行高*/
  background: #dbebf8;/*背景色*/
  vertical-align: middle;/*上下中央*/
  border-radius: 25px 25px 25px 25px;/*左側の角を丸く*/
}


.button {
    display: inline-block;
    width: 130px;
    padding: 2px;
    margin: 1px;
    border-radius: 100px;
    background-color: #afa58d;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 0.7rem;
}

.button:hover {
    opacity: 0.9;
}

.button-orange {
    background-color: #f1b400;
}

.post-form {
    width: 50vw;
    margin: 50px 0;
}

.post-form input[type=text], .contact-form textarea {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  padding: 15px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 0;
  color: #333;
  box-sizing: border-box;
}

.post-form textarea {
  height: 50px;
}

.post-form input[type=submit] {
  display: block;
  width: 200px;
  margin: auto ;
  padding: 15px;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.post-form input[type=submit]:hover {
  background-color: rgba(255, 255, 255, 0.05);
}




.about {
  padding: 2px 3px;
  background-color: #fff;
  color: #333;
}

.about-text {
    width: 600px;
    margin: 10px auto;
    line-height: 1.5;
    text-align: left;
}

.heading {
   display: inline-block;
    margin: 3px 0 15px;
    padding-bottom: 1px;
    letter-spacing: 2px;
    font-size: 3rem;
    border-bottom: double 4px #000;
}



.works_parents {
  display: flex;
  margin: 3px 0;
  justify-content: space-between;
/*  background-color: #383634;  vertical-align: top;*/
}


.works {
  /*display: inline-block;*/
  width: 49.5vw;
 /* height: 100%;
*/  margin: 3px 0 15px;
  background-color: #383634;
  vertical-align: top;
}

.works_2 {
/*  display: inline-block;*/
  width: 49.5vw;
/*  height: 50vh;*/
  margin: 3px 0 15px;
  background-color: #383634;
  vertical-align: top;
}

.comment_box{
  display:flex;
  justify-content: space-around;
}

.contents_country{
  display: inline-block;
  width: 10vw;
  margin: 3px 0 15px;
  background-color: #383634;
}

.contents_supplychain{
  display: inline-block;
  width: 10vw;
  margin: 3px 0 15px;
  background-color: #383634;
}

.contents_message{
  display: inline-block;
  word-wrap: break-word;
  width: 70%;
  margin: 3px 0 15px;
  background-color: rgba(255, 230, 0, 0.5);
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

/*.contents_message p{
  width: 200px;
}
*/
.contents_language{
  display: inline-block;
  width: 25%;
  margin: 3px 0 15px;
  background-color: rgba(255, 230, 0, 0.5);
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}


.contact {
  height: 50vh;
  background-color: rgba(25, 25, 120, 0.9);
}

.about_2 {
  display: inline-block;
  height: 10vh;
  padding: 2px 3px;
  background-color: #fff;
  font-size: 3rem;
  color: #f00;
}


